@import "default_variables";

//общие параметры стилей
*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

//стили
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.worktime {
  height: 20px;
  max-width: 256px;
}

.worktime__info {
  padding: 0 0 0 27px;
  margin: 0;
  position: relative;
  font-family: $font1;
  font-weight: 400;
  font-size: 14px;
}

.worktime__info::before {
  content: url(../images/clock-header.svg);
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 16px;
}
//nav
.switcher{
  position: absolute;
  visibility: hidden;
  left: -9999px;
}
.open,.close{
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.navigation{
  max-width: 441px;
}

.navigation__list{
  @include reset;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__item--mobile{
  display: none;
}
.navigation__link {
  display: block;
  text-decoration: none;
  padding: 0 5px 0 5px;
  transition: .4s;
  font-size: 14px;
  color: $title-color;
}

.navigation__link:hover{
    color:$butn-color;
  }

.contact-box--mobile{
  display: none;
}
.account-link {
  width: 196px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-icon {
  height: 24px;
  width: 63px;
  display: flex;
  justify-content: space-between;

  img {
    padding-bottom: 5px;
  }
}

.account {
  width: 106px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.account__link {
  font-family: $font1;
  font-size: 14px;
  color: $text-color;
}

.header-middle {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 48px;
}

.logo__link {
  padding: 15px 0 15px 0;
}

.delivery-ad {
  width: 109px;
  height: 40px;
}

.delivery-ad--mobile {
  display: none;
}

.delivety-ad__text {
  @include reset;
  font-family: $font1;
  color: $title-color;
  font-weight: 400;
  font-size: 14px;
}

.search-form {
  @include reset;
  form{  width: 375px;
    position: relative;
    padding: 0 0 0 21px;}

  input {
    border: 1px solid $light-gray;
    border-radius: 60px;
  }

  button {
    position: absolute;
    top: 7px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url(../images/Search_4.svg);
    background-color: $white;
    border: none;
  }
}
.call-box {
  display: flex;
  justify-content: space-between;
  height: 44px;
  width: 230px;
}
.call-box--mobile{
  display: none;
}
.call-box__btn {
  width: 44px;
  border-radius: 50%;
  border: 1px solid $light-gray;

  a {
    display: block;
    padding: 7px 7px 7px 10px;
  }
}

.call-box__menu {
  display: flex;
  flex-direction: column;
  width: 168px;
}

.call-link {
  font-family: $font1;
  font-size: 14px;
  font-weight: bold;
  color: $main-color;
}

.call-box__drop {
  @include reset;
  color: $title-color;
  border: none;
  font-family: $font1;
  font-weight: 700;
  font-size: 16px;
}

.call-box__list {
  width: 260px;
  height: 254px;
  padding: 20px 20px 15px 20px;
  border: 1px solid $light-gray;
  border-radius: 10px;
}

.call-box__link {
  padding: 5px 0 5px;
  font-family: $font1;
  font-size: 14px;
  font-weight: bold;
  color: $title-color;

  img {
    margin: 0 5px;
  }
}

.call-box__link--blue {
  color: $butn-color;
}

.call-box__item--link-title {
  margin: 15px 20px 15px 20px;

  p {
    @include reset;
    font-family: $font1;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .social-icon {
    display: flex;
    justify-content: space-between;
  }
}

.basket {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.basket__pic {
  width: 44px;
  border-radius: 50%;
  border: 1px solid $light-gray;
  padding: 7px 10px 10px 10px;

  img {
    width: 24px;
  }
}

.basket__price {
  width: 75px;
  height: 22px;
  margin: auto 0;

  p {
    font-family: $font1;
    font-weight: bold;
    font-size: 16px;
    color: $main-color;
  }
}

.header-bottom {
  height: 60px;
}

.catalog-menu {
  width: 100%;
  padding: 20px 0 20px 0;
}

.catalog-menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-menu__link--pink {
  padding: 0;
  font-family: $font1;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-color;
}

.catalog-menu__link--pink::before {
  content: url(../images/discount.svg);
  width: 10px;
  height: 10px;
  padding-right: 10px;
}

.catalog-menu__link {
  padding: 3px 0 0 0;
  font-family: $font1;
  font-weight: bold;
  color: $title-color;
}

.catalog-menu__link--drop {
  font-family: $font1;
  font-size: 14px;
}

.catalog-menu__link--drop:hover {
  color: $butn-color;
  font-weight: bold;
}

 .container__hero {
  width: 873px;
  height: 440px;
  background-color: pink;
}

//каталог
.catalog{
  width: 1170px;
  height: hug(1,650.01px) ;
  margin-top: 60px;

}
.catalog__catalog-1{
  height:510px;
display: flex;
flex-direction: column;
}
.catalog__header{
text-align: start;
font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
color: #222A46;
}

.catalog__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  width: 1172px;
  height: 430px;
  left: 0px;
}
.catalog__item{
  width: 178px;
  height: 430px;
  margin-right: 20px;
}
/* разделы */
.block-title{
  margin: 60px 0 30px;
  font-weight: 400;
  color: $title-color;
  font-family: $font2;
  font-size: 40px;
}
.category-box{
  display: flex;
  justify-content: space-between;
  height: 430px;
}
.category-item{
  width: 278px;
  height: 351px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 10%);
}
.category-item__image{
  width: 278px;
}
.category-item__desc{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.category-item__title, .category-item__price{
  display: inline-block;
  align-self: center;
  font-family: $font1;
  font-size: 20px;
  font-weight: bold;
  color: $title-color;
  span{
    font-weight: normal;
  }
}
.category-item__price{
  margin: 10px 0 0 0;
}
//адаптив планшет
@media screen and (min-width:768px) and (max-width:1023px) {
  .container {
    max-width: 768px;
  }

  .delivery-ad,
  .call-box,
  .navigation__link--hidden {
    display: none;
  }
  .call-box--mobile{
    display: inline-block
  }
  .search-form{
    width: 265px;
    padding: 0;
  }
  .catalog-menu {
    display: flex;
    flex-wrap: nowrap;
  }
.catalog-menu__list{
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
  .catalog-menu__item {
    flex: 0 0 auto;
    margin: 0 15px 0 15px;
  }
/*   Категории */
.category{
  display: flex;
  flex-wrap: nowrap;
}
.category-box{
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.category-item {
  flex: 0 0 auto;
  margin: 0 15px 0 15px;
}
}
//адаптив мобайл
@media screen and (min-width:375px) and (max-width:767px) {
  .container {
    max-width: 767px;
  }

  .worktime,
  .basket,
  .account,
  .delivery-ad--screen,
  .call-box,
  .header-bottom {
    display: none;
  }
  .open,.close{
    display: block;
    max-width:800px;
    }
  .close{
    position: absolute;
    top: 15px;
    right: 35px;
  }
  .fa-remove:before, .fa-close:before, .fa-times:before {
    content: url(../images/close.svg);
    width: 14px;
    height: 14px;
}
  .switcher:checked ~ nav{
    right: 0;
  }
  .navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    top: 0;
    right: -100%;
    text-align: center;
    background-color: $white;
    transition: .7s;
    z-index: 1;
  }
  .navigation__item--mobile{
    display: block;
  }
  .navigation__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    }
  .navigation__link{
    padding-top: 20px;
    padding-left: 15px;
    font-weight: bold;
    }
    .contact-box--mobile{
      display: block;
      width: 100vw;
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid $text-color;
      ul{
        border: none;
        list-style-type: none;
        padding: 0;;
        li{
          display: flex;
          margin-bottom: 15px;
          p{
            align-self: flex-start;
            margin-bottom: 15px;
            font-weight: normal;
          }
        }
      }
    }
  .call-box__link{
    text-decoration: none;
  }
  .call-box__item--link-title{
    display: flex;
    flex-direction: column;
  }

  .account-link {
    justify-content: flex-start;
  }

  .search-form {
    padding: 0;
    width: 180px;
    z-index: 0.9999;
  }

  .delivery-ad--mobile {
    display: inline-block;
    width: 100%;
    font-size: 12px;

    p {
      width: 109px;
      justify-self: flex-start;
      margin: 0 0 0 15px;
    }
  }
  /*   Категории */
.category{
  display: flex;
  flex-wrap: nowrap;
}
.category-box{
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.category-item {
  flex: 0 0 auto;
  margin: 0 15px 0 15px;
}
}
