:root{
   --color-white:#fff;
   --color-pink:#E2195B;
}
* {
  box-sizing: border-box;
}
 html {
  scroll-behavior: smooth;
}
 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
